.group {
    background-color: #CBC2B9;
    max-width: 100%;
    margin: 40px auto;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #9d968f;
    position: relative;
}

.range-input input {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: transparent;
    transform: translateY(2px);
    pointer-events: none;
    cursor: pointer;
    top: 0;
}

.range-input input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    pointer-events: auto;
}

.progress {
    height: 100%;
    left: 0;
    right: 0;
    background-color: black;
    border-radius: 5px;
    position: absolute;
}

.range-text div {
    position: absolute;
    background-color: #6f9163;
    color: #eee;
    font-size: 7px;
    padding: 5px;
    left: 0;
    width: 20px;
    text-align: center;
    border-radius: 3px;
    top: 15px;
    transform: translateX(-50%);
}

.range-text .text-max {
    left: unset;
    right: 0;
    transform: translateX(50%);
}