@use "scss/config" as *;

.facets__item {
    input {
        display: none !important;
    }

    label {
        font-weight: 400;
        cursor: pointer;
        width: 100%;
        display: flex;
        gap: 10px;

        svg {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.filter-availability {
    input {
        &:checked {
            + label {
                > span {
                    background-color: black;

                    svg {
                        opacity: 1;
                        visibility: visible;

                        path {
                            fill: white !important;
                        }
                    }
                }
            }
        }
    }
}

.filter-color,
.filter-size {
    input {
        &:checked {
            + label {
                border: 1px solid black !important;
            }
        }
    }
}
