@use "scss/config" as *;

.button {
    width: 100%;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: 11px 15px 12px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid $button-background-color;
    transition: all 0.5s ease;
    display: block;
    text-align: center;

    @include screen(phoneUp) {
        &:hover {
            background-color: $button-background-color-hover;
            color: $button-text-color-hover;
            border: 1px solid $button-border-color-hover;

            &.rotate {
                transform: rotate(2deg);
            }
        }
    }
}