@use "scss/config" as *;

.icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mobileMenu__hamburger-toggle {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  transform: rotate(0);
  transition:
    transform 0.1s ease-in,
    top 0.1s ease-in 0.15s,
    bottom 0.1s ease-in 0.15s;
}