@use 'scss/config' as *;

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.login-sidebar {
  animation: slideIn 0.35s ease;

  .login__sidebar-form {

    .form-fields {
      display: flex;
      flex-direction: column;
    }
  }
}