@use "scss/config" as *;

.collapsible-wrapper {
}
.collapsible-heading {
    border-bottom: 1px solid $border-color-base;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
