/* Style the collapsible content. Note: hidden by default */
.collapsible-heading {
    cursor: pointer;
}
.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
