@use "scss/config" as *;

.tab {
    &:not(:last-child) {
        border-bottom: 1px solid $grey-bg;
    }

    padding: 1.5rem 2.0rem;
    cursor: pointer;
}

.field {
    max-width: 50%;
    width: 100%;
    padding: 10px;
    padding-left: 0;

    .label-field {
        margin-bottom: 10px;
        display: block;
    }
}