.anticon-message {
    svg {
        width: 30px !important;
        height: 30px !important;
    }
}

.anticon-send {
    svg {
        width: 20px !important;
        height: 20px !important;
    }
}