@use "scss/config" as *;

.collection__content-sidebar {
    max-width: 300px;
    width: 100%;
    transition: all 0.3s ease
}



.collection__content-grid {
    flex: 1;
}

.grid_mode-item {
    cursor: pointer;
    padding: 5px;

    path {
        fill: #cbcbcb;
    }

}

@include screen(mobile) {
    .collection__content-sidebar {
        transition: transform 0.3s ease;
    }
}