@use "scss/config" as *;

.search__popup-close-wrapper {
    transform: rotate(0);
    transition: transform 0.3s ease;

    @include screen(phoneUp) {
        &:hover {
            transform: rotate(180deg);
        }
    }

}

.search-popup {
    animation: slideDown 0.3s ease-out;
}