@use "scss/config" as *;

.cart_content-left {
    max-width: calc(100% - 350px);
    width: 100%
}

th {
    padding: 12px 20px
}

td {
    padding: 25px 0 25px 5px;
    border: 1px solid $border-color-base;
}

.item {
    .cart__totals-title {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            bottom: -12px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: red;
        }
    }

    .cart-item-image {
        a {
            .linked-icon {
                position: absolute;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -40%);

                svg {
                    fill: white;
                }
            }

            &:after {
                content: "";
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -10%;
                background-color: rgba(118, 118, 118, 0.4);
                transition: opacity 0.5s ease;
            }
        }

        &:hover {
            a {
                .linked-icon {
                    opacity: 1;
                    transition: opacity 0.5s ease;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
}