@use "scss/config" as *;

.card-information {
    color: #00163a;

    .card-vendor {
        font-size: 14px;
        font-weight: 900;
    }

    .card-title {
        font-weight: 400;
    }
}

.card-product {
    position: relative;
    transition: transform 1s ease;
    overflow: hidden;

    .card-media {
        overflow: hidden;
        position: relative;
        padding-bottom: 100%;
        background-color: #fafafa;

        .first-image {
            transition:
                opacity 1s ease,
                transform 1s ease;
            opacity: 1;
            visibility: visible;
            transform: rotate(0deg);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: slideIn 0.35s ease;
        }

        .second-image {
            transition:
                opacity 1s ease,
                transform 1s ease;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .card-action {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        transform: translateY(100%);
        transition: transform 0.5s ease;
        z-index: 2;
    }

    .card-group {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 2;
        transform: translateX(150%);
        transition: transform 0.5s ease;

        .cart__group-action {
            background-color: white;
            border-radius: 50%;
            cursor: pointer;

            &.card__group-wishlist {

                &.is-activated {
                    background-color: black;

                    svg {
                        fill: white;
                    }
                }
            }


            .icon {
                width: 15px !important;
                height: 15px !important;
            }
        }
    }

    .card-badge {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 2;

        .sale-badge {
            font-weight: bold;
            color: white;
            padding: 0px 8px;
            border-radius: 4px;
        }
    }

}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@include screen(phoneUp) {
    .card {
        &:hover {
            .card-product {
                .card-action {
                    transform: translateY(0);
                }

                .first-image {
                    opacity: 0;
                    visibility: hidden;
                }

                .second-image {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1.05);
                }

                .card-group {
                    transform: translateX(0%);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .card-product {
        .card-action {
            transform: translateY(0);
        }

        .first-image {
            opacity: 0;
            visibility: hidden;
        }

        .second-image {
            opacity: 1;
            visibility: visible;
            transform: scale(1.05);
        }

        .card-group {
            transform: translateX(0%);
        }
    }
}