@use "scss/config" as *;

.footer-content-top {
    color: white;

    .container {
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: $main-black;
        display: flex;
        row-gap: 30px;

        .footer-block-item {
            max-width: 25%;
            width: 100%;
            padding: 0 16px;

            @include screen(tablet) {
                max-width: 33%;
            }

            @include screen(phone) {
                max-width: 50%;
            }
        }
    }
}

.footer-block-item {
    .title {
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .list-unstyled {
        list-style: none;

        @include screen(phoneUp) {
            li {
                &:hover {
                    .text {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }
}

.footer-social {
    margin-top: 20px;
}

.footer__social-list {
    .list-unstyled {
        display: flex;
        gap: 10px;

        .social-item {
            padding: 7px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid white;

                .link {
                    background-color: white;

                    .icon {
                        fill: $main-black;
                    }
                }
            }

            .link {
                transition: all 0.3s ease;
                display: block;
                padding: 7px;
                border-radius: 50%;
            }
        }

        .icon {
            fill: white;
            transition: all 0.3s ease; // Smooth transition for icon
        }
    }
}

.text {
    font-size: 14px !important;
    font-weight: 200 !important;
    color: white !important;
}