@use "../abstracts/mixin" as *;
@use "./_config.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  font-size: 14px;
  color: rgba(17, 17, 17, 0.55);
}

textarea::placeholder {
  font-weight: 400 !important;
  color: rgba(17, 17, 17, 0.55);
}

small {
  color: #e95144;
}

.image-box {
  position: relative;

  .animation {
    overflow: hidden;
    transition:
      transform 1s ease,
      box-shadow 1s ease;

    img {
      transition: transform 1s ease;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    background-size: 400% 100%;
    background-position: 90% 0;
    background-repeat: no-repeat;
    transition:
      background-position 1s ease,
      opacity 0.5s ease;
    mix-blend-mode: overlay;
  }

  @include screen(phoneUp) {
    &:hover {
      &:after {
        background-position: left;
        opacity: 0.2;
        background-image: linear-gradient(135deg, #fff0 45%, #fff, #fff0 55%);
      }

      .animation {
        overflow: hidden;
        transition:
          transform 1s ease,
          box-shadow 1s ease;
        transform: rotate(2deg);
        box-shadow:
          -1rem -1rem 1rem -1rem #0000000d,
          1rem 1rem 1rem -1rem #0000000d,
          0 0 0.5rem #fff0,
          0 2rem 3.5rem -2rem #00000080;

        img {
          transition: transform 1s ease;
          transform: scale(1.06);
        }
      }
    }
  }
}

.section-header {
  .title {
    text-align: center;
    margin-bottom: 8px;

    .text {
      color: #232323 !important;
      font-size: 24px;
      font-weight: 900;
      font-style: italic;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: $main-black;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 33px !important;
}

.view-all {
  text-align: center;
  margin-bottom: 22px;
  text-decoration: underline;
}

input {
  font-size: 14px;
  outline: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.sidebar {
  z-index: 2;
}


.close-btn {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

section {
  padding: 30px 0;
}

.container,
.container-1570 {
  padding: 0 50px 50px;
}

.container-1570 {
  max-width: 1570px;
  width: 100%;
  padding: 0 50px;
}

.container-1570 {
  max-width: 1570px;
  width: 100%;
}

@media (max-width: 1024px) {

  .container,
  .container-1570 {
    padding: 0 10px 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html *::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: rgb(138, 138, 138);
}

html *::-webkit-scrollbar-track {
  background-color: rgba(202, 202, 202, 1);
}

html *::-webkit-scrollbar-thumb:hover {
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(73, 73, 73, 1);

  html *::-webkit-scrollbar-track {
    background-color: rgba(170, 146, 146);
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif !important;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.3px;
  overflow-y: overlay;
  scroll-behavior: smooth;
  font-size: 14px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.link-underline {
  text-decoration: underline;
}

body.light-mode {
  transition-duration: 300ms;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  transition-duration: 300ms;

  background-color: rgb(26, 27, 28);
  color: white;

  html *::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: rgba(209, 209, 209, 0.15);
  }

  html *::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }

  .input-mode {
    background-color: rgba(209, 209, 209, 0.15) !important;
    color: white !important;
    transition: background-color 0.3s ease;
  }

  a:hover {
    color: #21a1d3;
  }
}

@include screen(phoneUp) {
  .fade-in-up {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 3;
}

.rotate {
  transform: rotate(0);
  transition: transform 0.3s ease;

  @include screen(phoneUp) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}

section {
  padding: 25px 0 50px 0;
}

.is-activated {
  .collapsed-content {
    height: auto;
  }

  .arrow-icon {
    transition: all 0.3s ease;
    transform: translateY(-50%) rotate(270deg);
  }
}

.collapsed-content {
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}

.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 5px !important;
  background: rgb(160, 160, 160);
  transition: width 0.3s ease;
}

.swiper-pagination-bullet {
  width: 8px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

path,
svg {
  pointer-events: none;
}

.toolbar {
  .is-activated {
    path {
      fill: black !important;
    }
  }
}

.header__icon--currency {
  .is-activated {
    .isoCode {
      border-bottom: 1px solid #333;
    }
  }
}

.col-4 {
  &>div {
    max-width: 25%;
    width: 100%;
  }
}

.col-3 {
  &>div {
    max-width: 33%;
    width: 100%;
  }
}

.col-1 {
  &>div {
    max-width: 100%;
    width: 100%;
  }
}

.col-2 {
  &>div {
    max-width: 50%;
    width: 100%;
  }
}

.main-color {
  color: $main-black;
}

.checkbox-field {
  label {
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 10px;

    svg {
      opacity: 0;
      visibility: hidden;
    }
  }

  input {
    display: none;

    +label {
      +a {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &:checked {
      +label {
        >span {
          background-color: black;

          svg {
            opacity: 1;
            visibility: visible;

            path {
              fill: white !important;
            }
          }
        }

        +a {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.page-heading {
  .title {
    font-size: 35px;
    font-weight: 700;
  }
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: $border-color-base;
  margin: 20px 0;
}

.checkbox-field {
  label {
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 10px;

    svg {
      opacity: 0;
      visibility: hidden;
    }
  }

  input {
    display: none;

    +label {
      +a {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &:checked {
      +label {
        >span {
          background-color: black;

          svg {
            opacity: 1;
            visibility: visible;

            path {
              fill: white !important;
            }
          }
        }

        +a {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.page-heading {
  .title {
    font-size: 35px;
    font-weight: 700;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $border-color-base;
  margin: 20px 0;
}

.currency-dropdown {
  transform: translateY(-30%);
}

.currency-dropdown {
  &.is-toggled {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0%);
  }
}

@include screen(tablet) {

  .col-4,
  .col-3 {
    &>div {
      max-width: 33%;
      width: 100%;
    }
  }
}

// Modal
.modal {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  max-height: auto;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  animation: slideToTop 0.5s ease;
}

@include screen(phone) {
  .modal {
    padding: unset;
    max-height: 80%;
    max-width: 95vw;
    height: 100%;

    .modal-content {
      overflow-y: auto;
      max-height: 100%;
    }

    .popup-close-wrapper {
      background-color: white;
      border-radius: 50%;
    }
  }

}


.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes slideToTop {
  0% {
    opacity: 0;
    top: 20%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

// Section Review 

.star,
.no-rating {
  color: #FF9C05;
  font-size: 20px;
  padding: 0 1px 0 0 !important;
  vertical-align: 1px;
}


svg {
  pointer-events: none;
}

@media (max-width: 1569px) {
  .container-1570 {
    max-width: 100vw !important;
    width: 100%;
  }
}


@include screen(phone) {

  .col-4,
  .col-3 {
    &>div {
      max-width: 50%;
      width: 100%;
    }
  }

  .page-heading {
    .title {
      font-size: 30px;
      font-weight: 700;
    }
  }
}

.breadcrumb {
  justify-content: center;
}

.page-heading {
  text-align: center;
}