@use "scss/config" as *;

.wrapper {
    display: flex;
    color: #999999;
    gap: 10px;

    .icon {
        width: 9px;
        height: 10px;
        display: inline-block;
        margin-left: 5px;

        path {
            fill: #999999
        }
    }
}